@model UI_MVC.Models.ShippersViewModel
@{
    ViewBag.Title = "InsertUpdate";
}

<h1 class="primary-text">Add a new Shipper or update a record</h1>
<br />

@using (Html.BeginForm("InsertUpdate", "Shippers", FormMethod.Post))
{
    <form>
        <div class="form-group">
            <label>Company Name: </label>
            @Html.TextBoxFor(s => s.CompanyName, new { id = "companyNameTxt", onkeyup = "fieldsCheck()" })
        </div>
        <div class="form-group">
            <label>Phone Number: </label>
            @Html.TextBoxFor(s => s.PhoneNumber, new { id = "phoneNumberTxt", onkeyup = "fieldsCheck()" })
        </div>
        <div class="form-group">
            <small style="color:red;">WARNING! specify an ID only if you want to update a record ;)</small>
        </div>
        <div class="form-group">
            <label>Shipper ID: </label>
            @Html.TextBoxFor(s => s.ShipperId)
        </div>
        <button type="submit" id="submitBtn" class="btn btn-success" disabled>Submit</button>
        <a href="@Url.Action("Index", "Shippers")">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
    </form>

}
@*Script para chequear que todos los campos requeridos esten completos, si esto no se cumple no se podra hacer el submit*@
<script>
    let phoneNumber = document.getElementById("phoneNumberTxt")
    let companyName = document.getElementById("companyNameTxt");
    let submitBtn = document.getElementById("submitBtn");

    function fieldsCheck() {
        if (companyName.value != "" && phoneNumber.value != "") {
            submitBtn.disabled = false;
        } else {
            submitBtn.disabled = true;
        }
    }
</script>

<br />
