@{
    ViewBag.Title = "InsertUpdate";
}

<h1>Add a new Shippers or update it</h1>

<label for="companyNameTxt">Company Name: </label>
<input type="text" id="companyNameTxt" />
<label for="phoneTxt">Phone Number: </label>
<input type="text" id="phoneTxt" />

<button>Add</button>
