@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="primary-text">TP7-MVC</h1>
    <p class="lead">.NET/Angular Lab - Lautaro Walsh</p>
    <p><a  href="https://github.com/Uolj" class="btn btn-primary btn-lg">Visit my GitHub &raquo;</a></p>
</div>
